body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./images/235c0561525615.5a7164a8586ca.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: crosshair;
}

#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #ffffff00, #ffffff16);
}

#collisionCanvas {
  opacity: 0;
}
